<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
    <title>Contacts Entered</title>
</head>
<body>
    <h1>Contacts Entered:</h1>

    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
